<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href = 'retweet/demo'>デモ</a>　
    <a href = 'retweet/rt_from_tl'>TLの取得とリツイート</a>　
    <a href = 'retweet/show'>最近のRTを表示</a>　
    <a href = 'rt_candidate/show'>RT候補の表示</a>　
    <a href = 'rt_candidate/rt_auto'>RT候補から自動でRT</a>　
    <a href = 'retweet/sendmail'>メール送信</a>　
  </body>
</html>