<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href = 'tweet/demo'>デモ</a>　
    <a href = 'tweet/rtTweets'>TLの取得とリツイート</a>　
    <a href = 'tweet/showRecentRetweets'>最近のRTを表示</a>　
    <a href = 'tweet/showCandidates'>RT候補の表示</a>　
    <a href = 'follow_candidate/show'>フォロー候補の表示</a>　
    <a href = 'http://127.0.0.1:3000/follow_candidate/update'>フォロー候補をアップデート</a>
  </body>
</html>